@import url('https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');


body {
  font-family: 'Chivo', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

/* text styles */

h1 {
  color: #bd93f9;
  font-size: 48px;
  font-weight: 700;
  margin: 0;
  padding: 0;
  line-height: 97%;
  margin-bottom: 16px;
}

h1.dark {
  color: #282a36;
}

h2 {
  color: #44475a;
  font-size: 32px;
  font-weight: 700;
  margin: 0;
  padding: 0;
  line-height: 97%;
  margin-bottom: 16px;
}

p {
  font-size: 18px;
  line-height: 140%;
  color: #282a36;
  margin-bottom: 8px;
  margin-top: 8px;
  padding: 0;
}

p.light{
  color: #f8f8f2;
  font-weight: 400;
}

button {
  background-color: #8be9fd;
  border-radius: 4px;
  border: none;
  font-weight: 900;
  font-size: 16px;
  line-height: 140%;
  color: #282a36;
  padding: 8px 32px;
  transition: 0.5s;
}

button:hover {
  background-color: #f1fa8c;
}


/* header styles */

.header {
  align-items: center;
  background-color: #282a36;
  display: flex;
  padding: 16px 32px;
  justify-content: space-between;

}

.logo {
  color: #f8f8f2	;
  font-size: 24px;
  font-weight: 700;
}

.nav-links ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
}

.nav-links a, 
.nav-links a:visited {
  text-decoration: none;
  color: #8be9fd;
}

.nav-links a:hover {
  color: #f1fa8c;
}

/* cta panel styles */

.cta-panel {
  display: flex;
  padding: 64px 32px;
  gap: 64px;
  max-width: 1080px;
  flex-wrap: wrap;
}

.cta-panel-wrapper {
  display: flex;
  justify-content: center;
  background-color: #282a36;
}

.cta-panel .left,
.cta-panel .right {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 300px;
  min-height: 300px;

}

.image-placeholder {
  background-color: #44475a;
  color: #282a36;
  flex: 1;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 4px;
}


.buttons {
  margin-top: 30px;
}

/* gallery styles */

.gallery-panel-wrapper {
  display: flex;
  justify-content: center;
  background-color: #f8f8f2;
}

.gallery-panel {
  display: flex;
  justify-content: center;
  padding: 64px 32px;
  gap: 32px;
  max-width: 1080px;
  flex-direction: column;
  align-items: center;
}

.gallery-card-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  justify-content: center;
}

.gallery-card {
  width: 128px;
  font-size: 16px;
  color: #44475a;
  text-align: center;
}

.gallery-card-image {
  background-color: #44475a;
  width: 128px;
  height: 128px;
  border-radius: 4px;
  margin-bottom: 8px;
  text-align: center;
  transition: 0.5s;
}

.gallery-card-image:hover {
  background-color: #7f8296;
}


/* quote styles */

.quote-panel-wrapper {
  display: flex;
  justify-content: center;
  background-color: #bd93f9;
}

.quote-panel {
  display: flex;
  justify-content: center;
  padding: 64px 32px;
  gap: 32px;
  max-width: 800px;
  flex-direction: column;
}

.quote-text {
  font-size: 40px;
  color: #282a36;
  font-style: italic;
  font-weight: 700;
  line-height: 120%;
  text-align: center;
}

.quote-attribution {
  font-size: 28px;
  color: #282a36;
  font-weight: 400;
  text-align: center;
}

/* signup styles */

.signup-panel-wrapper {
  display: flex;
  justify-content: center;
  background-color: #44475a;
}

.signup-panel {
  display: flex;
  justify-content: center;
  padding: 64px 32px;
  gap: 32px;
  max-width: 1080px;
  flex-direction: column;
  flex: 1;
  align-items: center;
}

.signup-box {
  flex: 1;
  display: flex;
  padding: 24px 32px;
  border-radius: 8px;
  background-color: #8be9fd;
  flex-wrap: wrap;
}

.signup-box-left {
  display: flex;
  flex: 4;
  min-width: 300px;
}

.signup-box-right {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  padding: 8px;
}

/* footer styles */

.footer-panel-wrapper {
  display: flex;
  justify-content: center;
  background-color: #282a36;
}

.footer-panel {
  display: flex;
  justify-content: center;
  padding: 16px 16px;
  max-width: 1080px;
  align-items: center;
  color: #f8f8f2;
  font-size: 12px;
}
.signup-panel button {
  border: 1px solid #44475a;
}