@import url('https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');


body {
  font-family: 'Chivo', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

/* text styles */

h1 {
  color: #bd93f9;
  font-size: 48px;
  font-weight: 700;
  margin: 0;
  padding: 0;
  line-height: 97%;
  margin-bottom: 16px;
}

p {
  font-size: 18px;
  line-height: 140%;
  color: #282a36;
  margin-bottom: 8px;
  margin-top: 8px;
  padding: 0;
}

p.light{
  color: #f8f8f2;
  font-weight: 300;
}

button {
  background-color: #8be9fd;
  border-radius: 6px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
  color: #282a36;
  padding: 8px 16px;
  padding: auto;
}

button:hover {
  background-color: #50fa7b;
}


/* header styles */

.header {
  align-items: center;
  background-color: #282a36;
  display: flex;
  padding: 16px 32px;
  justify-content: space-between;

}

.logo {
  color: #f8f8f2	;
  font-size: 24px;
  font-weight: 700;
}

.nav-links ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
  color: #6272a4;
}

.nav-links a, .nav-links a:visited {
  color: #6272a4;
  text-decoration: none;
}

.nav-links a:hover {
  color: #8be9fd;
}

/* cta panel styles */

.cta-panel {
  display: flex;
  padding: 64px 32px;
  background-color: #282a36;
  gap: 64px;
}

.cta-panel .left,
.cta-panel .right {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.image-placeholder {
  background-color: #44475a;
  color: #bd93f9;
  flex: 1;
  justify-content: center;
  align-items: center;
  display: flex;
}

.buttons {
  margin-top: 30px;
}